<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d [%t] %x %c %M - %m%n" />
		</layout>
	</appender>

	<!-- general application log -->
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="false" />
		<param name="maxFileSize" value="1000KB" />
		<param name="maxBackupIndex" value="5" />

		<param name="File" value="kt-ls.log" />		 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d [%t] %x %c %M - %m%n" />
		</layout>
	</appender>


	<root>
		<!-- <priority value="info" /> -->
		<level value="INFO" />
		<appender-ref ref="file" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>